<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Github Events!</h1>
    <p>Search for users and their repos. Then display all events in that repo!</p>
  </div>

  <%= render partial: "shared/form", locals: { event_search: @event_search } %>
</div>
